Question NO 1
Ans:-

In [2]:
listl = [5, 20, 15, 20, 25, 50, 20]

# Count occurrences of 20
count_20 = listl.count(20)

# Remove all occurrences of 20
listl = [item for item in listl if item != 20]

# Display the results
print("Count of 20:", count_20)
print("Updated list:", listl)

Count of 20: 3
Updated list: [5, 15, 25, 50]

Question No 2
Ans:-

In [3]:
# Initialize a nested dictionary
nested_dict = {
    'student1': {'name': 'Sudip', 'age': 24, 'grade': 'A'},
    'student2': {'name': 'Sujan', 'age': 22, 'grade': 'B'}
}

# Display the initial nested dictionary
print("Initial nested dictionary:", nested_dict)

# Addition: Adding a new student entry
nested_dict['student3'] = {'name': 'Safalta', 'age': 21, 'grade': 'A'}
print("\nAfter adding a new key-value pair (student3):", nested_dict)

# Update: Updating an existing student's age
nested_dict['student1']['age'] = 21
print("\nAfter updating student1's age:", nested_dict)

# Deletion: Removing a student entry
del nested_dict['student2']
print("\nAfter deleting student2:", nested_dict)

Initial nested dictionary: {'student1': {'name': 'Sudip', 'age': 24, 'grade': 'A'}, 'student2': {'name': 'Sujan', 'age': 22, 'grade': 'B'}}

After adding a new key-value pair (student3): {'student1': {'name': 'Sudip', 'age': 24, 'grade': 'A'}, 'student2': {'name': 'Sujan', 'age': 22, 'grade': 'B'}, 'student3': {'name': 'Safalta', 'age': 21, 'grade': 'A'}}

After updating student1's age: {'student1': {'name': 'Sudip', 'age': 21, 'grade': 'A'}, 'student2': {'name': 'Sujan', 'age': 22, 'grade': 'B'}, 'student3': {'name': 'Safalta', 'age': 21, 'grade': 'A'}}

After deleting student2: {'student1': {'name': 'Sudip', 'age': 21, 'grade': 'A'}, 'student3': {'name': 'Safalta', 'age': 21, 'grade': 'A'}}

Question No. 3 
Ans:-

In [4]:
# John's scores
john_scores = [80, 75, 90, 65, 70, 80, 90]

# Calculate the average score
average_score = sum(john_scores) / len(john_scores)

# Determine distinction
if average_score >= 75:
    result = "John obtained a distinction."
else:
    result = "John did not obtain a distinction."

# Display the results
print("Average Score:", average_score)
print(result)

Average Score: 78.57142857142857
John obtained a distinction.

Question No. 4
Ans:-

In [12]:
import pandas as pd

# Load the dataset
df = pd.read_csv("./student_scores.csv") 
# Filter rows where 'Math' score is above 80 and 'Science' score is not missing
filtered_df = df[(df['Math'] > 80) & (df['Science'].notna())]

# Display the filtered DataFrame
print(filtered_df)

  Student  Math  English  Science  Family Income  Hours of Study at Home  \
0    Ajay  85.0       90     78.0          75000                     3.0
1  Binay_  92.0       88     95.0          80000                     4.0
3     Raj  88.0       92     89.0          90000                     5.0

  Age Group  Distance from School (km)  Number of Siblings  \
0     11-20                        2.5                   2
1     21-30                        3.0                   1
3     21-30                        4.2                   0

   Extracurricular Activities Motivation Level
0                           1             High
1                           1           Medium
3                           1             High

Question No. 5
Ans:-

In [13]:
import pandas as pd

# Load the dataset
df = pd.read_csv('./student_scores.csv')

# Calculate the median values for each subject (Math, English, Science)
median_values = df[['Math', 'English', 'Science']].median()

# Display the median values
print("Median values for each subject:")
print("Math:", median_values['Math'])
print("English:", median_values['English'])
print("Science:", median_values['Science'])

Median values for each subject:
Math: 80.0
English: 88.0
Science: 85.0

Question No. 6
Ans:-

In [17]:
import pandas as pd

# Load the dataset
df = pd.read_csv('./student_scores.csv')

# Loop through each column in the DataFrame
for column in df.columns:
    # Check if the column contains numeric data (only calculate median for numeric columns)
    if pd.api.types.is_numeric_dtype(df[column]):
        median_value = df[column].median()  # Calculate the median for the column
        df[column].fillna(median_value, inplace=True)  # Replace NaN values with median

# Display the DataFrame after replacing missing values with median values
print("Data after replacing missing values with median values:")
print(df)

Data after replacing missing values with median values:
   Student  Math  English  Science  Family Income  Hours of Study at Home  \
0     Ajay  85.0       90     78.0          75000                     3.0
1   Binay_  92.0       88     95.0          80000                     4.0
2   Amrita  75.0       80     82.0          60000                     2.0
3      Raj  88.0       92     89.0          90000                     5.0
4  Sa nj u  60.0       77     85.0          55000                     1.0
5    Pujan   2.0       85     85.0          40000                     3.5
6  Prabesh  80.0      900     85.0         100000                     6.0

  Age Group  Distance from School (km)  Number of Siblings  \
0     11-20                        2.5                   2
1     21-30                        3.0                   1
2     11-20                        1.8                   3
3     21-30                        4.2                   0
4     11-20                        2.0                   4
5      0-10                        0.5                   0
6     21-30                        5.5                   2

   Extracurricular Activities Motivation Level
0                           1             High
1                           1           Medium
2                           0           Medium
3                           1             High
4                           0              Low
5                           0              Low
6                           1             High

C:\Users\Dell\AppData\Local\Temp\ipykernel_2872\2459496827.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(median_value, inplace=True)  # Replace NaN values with median
C:\Users\Dell\AppData\Local\Temp\ipykernel_2872\2459496827.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(median_value, inplace=True)  # Replace NaN values with median
C:\Users\Dell\AppData\Local\Temp\ipykernel_2872\2459496827.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(median_value, inplace=True)  # Replace NaN values with median
C:\Users\Dell\AppData\Local\Temp\ipykernel_2872\2459496827.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(median_value, inplace=True)  # Replace NaN values with median
C:\Users\Dell\AppData\Local\Temp\ipykernel_2872\2459496827.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(median_value, inplace=True)  # Replace NaN values with median
C:\Users\Dell\AppData\Local\Temp\ipykernel_2872\2459496827.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(median_value, inplace=True)  # Replace NaN values with median
C:\Users\Dell\AppData\Local\Temp\ipykernel_2872\2459496827.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(median_value, inplace=True)  # Replace NaN values with median
C:\Users\Dell\AppData\Local\Temp\ipykernel_2872\2459496827.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(median_value, inplace=True)  # Replace NaN values with median

Question No 7
Ans:-

In [18]:
import pandas as pd

# Load the dataset
df = pd.read_csv('./student_scores.csv')

# Loop through each column in the DataFrame
for column in df.columns:
    # Check if the column is numeric to detect and replace outliers
    if pd.api.types.is_numeric_dtype(df[column]):
        # Calculate Q1, Q3, and IQR
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        # Calculate the mean of the column
        mean_value = df[column].mean()

        # Replace outliers with the mean
        df[column] = df[column].apply(lambda x: mean_value if x < lower_bound or x > upper_bound else x)

# Display the DataFrame after replacing outliers with mean values
print("Data after replacing outliers with mean values:")
print(df)

Data after replacing outliers with mean values:
   Student  Math     English  Science  Family Income  Hours of Study at Home  \
0     Ajay  85.0   90.000000     78.0          75000                     3.0
1   Binay_  92.0   88.000000     95.0          80000                     4.0
2   Amrita  75.0   80.000000     82.0          60000                     2.0
3      Raj  88.0   92.000000     89.0          90000                     5.0
4  Sa nj u  60.0   77.000000      NaN          55000                     1.0
5    Pujan  67.0   85.000000      NaN          40000                     NaN
6  Prabesh   NaN  201.714286     85.0         100000                     6.0

  Age Group  Distance from School (km)  Number of Siblings  \
0     11-20                        2.5                   2
1     21-30                        3.0                   1
2     11-20                        1.8                   3
3     21-30                        4.2                   0
4     11-20                        2.0                   4
5      0-10                        0.5                   0
6     21-30                        5.5                   2

   Extracurricular Activities Motivation Level
0                           1             High
1                           1           Medium
2                           0           Medium
3                           1             High
4                           0              Low
5                           0              Low
6                           1             High

Question No 8
ans :-

In [20]:
import pandas as pd

# Step 1: Load the CSV file into a DataFrame
file_path = './student_scores.csv'  # Replace with your actual file path
df = pd.read_csv(file_path)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Step 2: Clean the string columns
# Assuming the subject columns are named 'Math', 'Science', 'English', etc.
subject_columns = ['Math', 'Science', 'English']  # Adjust according to your actual column names

# Convert to numeric, forcing errors to NaN
for column in subject_columns:
    df[column] = pd.to_numeric(df[column], errors='coerce')

# Optionally fill NaN values with 0 (or you can drop them)
df.fillna(0, inplace=True)

# Step 3: Calculate the total score
df['Total Score'] = df[subject_columns].sum(axis=1)

# Display the cleaned DataFrame
print("\nCleaned DataFrame with Total Score:")
print(df)

# Step 4: Save the cleaned DataFrame to a new CSV file (optional)
cleaned_file_path = 'cleaned_student_scores.csv'  # Replace with your desired output file path
df.to_csv(cleaned_file_path, index=False)

print(f"\nCleaned data saved to {cleaned_file_path}")

Original DataFrame:
   Student  Math  English  Science  Family Income  Hours of Study at Home  \
0     Ajay  85.0       90     78.0          75000                     3.0
1   Binay_  92.0       88     95.0          80000                     4.0
2   Amrita  75.0       80     82.0          60000                     2.0
3      Raj  88.0       92     89.0          90000                     5.0
4  Sa nj u  60.0       77      NaN          55000                     1.0
5    Pujan   2.0       85      NaN          40000                     NaN
6  Prabesh   NaN      900     85.0         100000                     6.0

  Age Group  Distance from School (km)  Number of Siblings  \
0     11-20                        2.5                   2
1     21-30                        3.0                   1
2     11-20                        1.8                   3
3     21-30                        4.2                   0
4     11-20                        2.0                   4
5      0-10                        0.5                   0
6     21-30                        5.5                   2

   Extracurricular Activities Motivation Level
0                           1             High
1                           1           Medium
2                           0           Medium
3                           1             High
4                           0              Low
5                           0              Low
6                           1             High

Cleaned DataFrame with Total Score:
   Student  Math  English  Science  Family Income  Hours of Study at Home  \
0     Ajay  85.0       90     78.0          75000                     3.0
1   Binay_  92.0       88     95.0          80000                     4.0
2   Amrita  75.0       80     82.0          60000                     2.0
3      Raj  88.0       92     89.0          90000                     5.0
4  Sa nj u  60.0       77      0.0          55000                     1.0
5    Pujan   2.0       85      0.0          40000                     0.0
6  Prabesh   0.0      900     85.0         100000                     6.0

  Age Group  Distance from School (km)  Number of Siblings  \
0     11-20                        2.5                   2
1     21-30                        3.0                   1
2     11-20                        1.8                   3
3     21-30                        4.2                   0
4     11-20                        2.0                   4
5      0-10                        0.5                   0
6     21-30                        5.5                   2

   Extracurricular Activities Motivation Level  Total Score
0                           1             High        253.0
1                           1           Medium        275.0
2                           0           Medium        237.0
3                           1             High        269.0
4                           0              Low        137.0
5                           0              Low         87.0
6                           1             High        985.0

Cleaned data saved to cleaned_student_scores.csv

In [22]:
#Question No 9
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Normalize the features (Min-Max Scaling)
min_max_scaler = MinMaxScaler()
normalized_data = min_max_scaler.fit_transform(df[subject_columns])
normalized_df = pd.DataFrame(normalized_data, columns=subject_columns)

# Standardize the features (Z-score Scaling)
standard_scaler = StandardScaler()
standardized_data = standard_scaler.fit_transform(df[subject_columns])
standardized_df = pd.DataFrame(standardized_data, columns=subject_columns)

# Display the normalized and standardized DataFrames
print("Normalized Data:")
print(normalized_df.head())

print("\nStandardized Data:")
print(standardized_df.head())

Normalized Data:
       Math   Science   English
0  0.922222  0.000000  0.015796
1  1.000000  1.000000  0.013366
2  0.811111  0.235294  0.003645
3  0.955556  0.647059  0.018226
4  0.644444       NaN  0.000000

Standardized Data:
       Math   Science   English
0  0.582568 -1.334553 -0.391819
1  0.809122  1.574088 -0.398834
2  0.258919 -0.650167 -0.426893
3  0.679663  0.547509 -0.384805
4 -0.226554       NaN -0.437415

Question NO 10
Ans:-

In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Creating DataFrame from the provided data
data = {
    'Student': ['Ajay', 'Binay_', 'Amrita', 'Raj', 'Sa nj u', 'Pujan', 'Prabesh'],
    'Math': [85, 92, 75, 88, 60, 2, 90],
    'English': [90, 88, 80, 92, 77, 85, 900],
    'Science': [78, 95, 82, 89, 55, 40, 85],
    'Family_Inc': [75000, 80000, 60000, 90000, 55000, 40000, 100000],
    'Hours_of_S': [3, 4, 2, 5, 1, 0.5, 6],
    'Age_Group': ['20-Nov', '21-30', '20-Nov', '21-30', '20-Nov', '0-10', '21-30'],
    'Distance_fi': [2.5, 3, 1.8, 4.2, 2, 0.5, 5.5],
    'Number_of_Extracurric': [2, 1, 3, 0, 4, 0, 2],
    'Motivation_Level': ['High', 'Medium', 'Medium', 'High', 'Low', 'Low', 'High']
}

df = pd.DataFrame(data)

# Selecting only the features to normalize and standardize
features = df[['Math', 'English', 'Science', 'Family_Inc', 'Hours_of_S', 'Distance_fi', 'Number_of_Extracurric']]

# 1. Normalization using Min-Max Scaler
min_max_scaler = MinMaxScaler()
features_normalized = pd.DataFrame(min_max_scaler.fit_transform(features), columns=features.columns)
print("Normalized Data:")
print(features_normalized)

# 2. Standardization using Standard Scaler
standard_scaler = StandardScaler()
features_standardized = pd.DataFrame(standard_scaler.fit_transform(features), columns=features.columns)
print("\nStandardized Data:")
print(features_standardized)

Normalized Data:
       Math   English   Science  Family_Inc  Hours_of_S  Distance_fi  \
0  0.922222  0.015796  0.690909    0.583333    0.454545         0.40
1  1.000000  0.013366  1.000000    0.666667    0.636364         0.50
2  0.811111  0.003645  0.763636    0.333333    0.272727         0.26
3  0.955556  0.018226  0.890909    0.833333    0.818182         0.74
4  0.644444  0.000000  0.272727    0.250000    0.090909         0.30
5  0.000000  0.009721  0.000000    0.000000    0.000000         0.00
6  0.977778  1.000000  0.818182    1.000000    1.000000         1.00

   Number_of_Extracurric
0                   0.50
1                   0.25
2                   0.75
3                   0.00
4                   1.00
5                   0.00
6                   0.50

Standardized Data:
       Math   English   Science  Family_Inc  Hours_of_S  Distance_fi  \
0  0.495158 -0.391819  0.170486    0.184053   -0.037635    -0.187186
1  0.730719 -0.398834  1.092662    0.441726    0.489261     0.140389
2  0.158643 -0.426893  0.387469   -0.588968   -0.564532    -0.645791
3  0.596113 -0.384805  0.767188    0.957073    1.016158     0.926570
4 -0.346130 -0.437415 -1.077163   -0.846642   -1.091429    -0.514761
5 -2.297918 -0.409356 -1.890848   -1.619662   -1.354878    -1.497487
6  0.663416  2.449121  0.550206    1.472420    1.543055     1.778266

   Number_of_Extracurric
0               0.206284
1              -0.515711
2               0.928279
3              -1.237705
4               1.650274
5              -1.237705
6               0.206284

Question No 11
Ans:-

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Creating DataFrame from the provided data
data = {
    'Student': ['Ajay', 'Binay_', 'Amrita', 'Raj', 'Sa nj u', 'Pujan', 'Prabesh'],
    'Math': [85, 92, 75, 88, 60, 2, 90],
    'English': [90, 88, 80, 92, 77, 85, 900],
    'Science': [78, 95, 82, 89, 55, 40, 85],
    'Family_Inc': [75000, 80000, 60000, 90000, 55000, 40000, 100000],
    'Hours_of_S': [3, 4, 2, 5, 1, 0.5, 6],
    'Age_Group': ['20-Nov', '21-30', '20-Nov', '21-30', '20-Nov', '0-10', '21-30'],
    'Distance_fi': [2.5, 3, 1.8, 4.2, 2, 0.5, 5.5],
    'Number_of_Extracurric': [2, 1, 3, 0, 4, 0, 2],
    'Motivation_Level': ['High', 'Medium', 'Medium', 'High', 'Low', 'Low', 'High']
}

df = pd.DataFrame(data)

# 1. Cleaning string columns
df['Student'] = df['Student'].str.replace('_', '').str.strip()  # Remove underscores and spaces
df['Motivation_Level'] = df['Motivation_Level'].str.strip()

# Calculating 'Total_Score' as sum of scores across subjects
df['Total_Score'] = df[['Math', 'English', 'Science']].sum(axis=1)

# Selecting features and target variable
X = df[['Math', 'English', 'Science', 'Family_Inc', 'Hours_of_S', 'Distance_fi', 'Number_of_Extracurric']]
y = df['Total_Score']

# Splitting data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initializing and training the Multiple Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Making predictions on the test set
y_pred = model.predict(X_test)

# Calculating accuracy metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Displaying the results
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("R-squared (R2 Score):", r2)

# Displaying the actual and predicted values
print("\nActual values (y_test):", np.array(y_test))
print("Predicted values (y_pred):", y_pred)

Mean Absolute Error (MAE): 7.746638153577294
Mean Squared Error (MSE): 119.55399026452473
R-squared (R2 Score): 0.971879941658459

Actual values (y_test): [253 275 127]
Predicted values (y_pred): [250.09009745 273.3067042  145.63671611]

Question No 12
ans:-

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import numpy as np

# Load and prepare the dataset
data = {
    'Student': ['Ajay', 'Binay', 'Amrita', 'Raj', 'Sanju', 'Pujan', 'Prabesh'],
    'Math': [85, 92, 75, 88, 60, 2, 90],
    'English': [90, 88, 80, 92, 77, 85, 900],
    'Science': [78, 95, 82, 89, 55, 40, 85],
    'Family_Inc': [75000, 80000, 60000, 90000, 55000, 40000, 100000],
    'Hours_of_S': [3, 4, 2, 5, 1, 0.5, 6],
    'Distance_fi': [2.5, 3, 1.8, 4.2, 2, 0.5, 5.5],
    'Number_of_Extracurric': [2, 1, 3, 0, 4, 0, 2],
    'Motivation_Level': ['High', 'Medium', 'Medium', 'High', 'Low', 'Low', 'High']
}

df = pd.DataFrame(data)

# Calculating Total_Score
df['Total_Score'] = df[['Math', 'English', 'Science']].sum(axis=1)

# Assuming a threshold for passing
pass_threshold = 200  # Example threshold, can be adjusted
df['Pass_Fail'] = np.where(df['Total_Score'] >= pass_threshold, 1, 0)  # 1 = Pass, 0 = Fail

# Selecting features and target variable
X = df[['Math', 'English', 'Science', 'Family_Inc', 'Hours_of_S', 'Distance_fi', 'Number_of_Extracurric']]
y = df['Pass_Fail']

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize and train the Logistic Regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predicting on the test set
y_pred = model.predict(X_test)

# Evaluating the model
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

# Displaying the results
print("Accuracy Score:", accuracy)
print("Confusion Matrix:\n", conf_matrix)
print("Classification Report:\n", class_report)

# Display actual and predicted values
print("\nActual values (y_test):", np.array(y_test))
print("Predicted values (y_pred):", y_pred)

Accuracy Score: 0.3333333333333333
Confusion Matrix:
 [[0 1]
 [1 1]]
Classification Report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.50      0.50      0.50         2

    accuracy                           0.33         3
   macro avg       0.25      0.25      0.25         3
weighted avg       0.33      0.33      0.33         3


Actual values (y_test): [1 1 0]
Predicted values (y_pred): [0 1 1]

C:\Users\Dell\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(